.link {
    text-decoration: none !important;
    color: black;
    margin-right: 20px;
}

.header {
    display: flex;
    justify-content: space-between;    
}

.header_logo {
    width: 65px;
    padding: 10px;
}

.header_basket {
    width: 20px;
    margin-right: 10px;
}

.header_right {
    display: inline-flex;
    align-items: center;
}

.header_right p, .header_right img {    
    height: 20px;
}