.Login{
    margin-top: 100px;
    margin-left: 200px;
}

.DivBlock {
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    margin: 20px;
}

h4 {
    color: grey;
}

.Form {
    display: grid;
    position: relative;
}

.signUp {
    margin-top: 10px;
}