.link {
    text-decoration: none !important;
    color: black;
    margin: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header_logo {
    width: 65px;
    padding: 10px;
}

.header_basket {
    width: 20px;
}

.header_right {
    display: inline-flex;
    align-items: center;

}

.header_right p, .header_right img {
    padding: 20px;
    height: 20px;
}



